<!DOCTYPE html>
<html>
<head>
  <title>Flyaudio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">FLiYiG MoNkEY AuDiO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">    
        <!-- <li><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Some Music</a></li>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <br />
 </nav> 
 <br class="clear" />

<div class="container">
	<div class="jumbotron">
	  <u><h1>Hi-fi to love </h1></u>
	  <p>There are several amplification systems to love, mostly try to listen music, so really don't care for snob's conceptions. Just hear the sound.
	  I want to share a small list of amps, d.a.c's and speakers combos I wolud absolutely love to have in my living room for daily joy.  </p> 
	 </div> 
</div>
<br class="clear" />
<br />
 <div class="col-sm-6 col-md-4 low-end"> 
  <div class="alert alert-info" role="alert"><b>Low entry combination</b></div>
 </div> 
<br class="clear" />

  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/sebimages/Kenny7100.jpeg" alt="...">
      <div class="caption">
        <h3>Kenwood KA-7100</h3>
        <p>"The development of the DC power amplifier can be counted as one of our most significant engineering successes, because it provides an almost perfect linear 
		frequency response that starts virtually from 0Hz. What this means is that the signal amplified has effectively the same waveform as that 	at the input terminals. The amplifier maintains extremely low distortion right down to the ultra-low frequency range. With excellent phase and transient characteristics - the response in actual conditions of musical reproduction - the sound that you hear is perfectly natural."  -
		HiFi Engine</p>
      </div>
    </div>
  </div>
</div>


  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/sebimages/DAC1+-+dragonfly.jpg" alt="...">
      <div class="caption">
        <h3>Audioquest DragonFly v1.2 </h3>
        <p>"AudioQuest took a DAC and headphone amp and served them up in a great-sounding, 	consumer-friendly package. In an attempt to squeeze out even greater sound 			quality, the signal path between the DAC chip and the analogue output has been 		shortened and the internal power supply has been tweaked.
        	This DragonFly picks out greater detail and displays even greater dynamic thrust.Tracks sound more pristine and more communicative than before. The DragonFly’s ability to follow a track’s rhythm and timing is superb.
        	The icing on the cake with this DAC, though, is that you’re getting all this outrageously good sound quality at such a tempting price."  - What Hi-Fi?</p>
    </div>
  </div>
</div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/sebimages/WharfedaleDiamond10.7-2.jpg" alt="...">
      <div class="caption">
        <h3>Wharfedale Diamond 10.7</h3>
        <p>The three-way Diamond 10.7 has a 1" soft-dome tweeter with a neodymium magnet, mounted in a cast-alloy surround and covered by a metal diffusion grid designed to iron out high-frequency perturbations for a smoother treble response. In addition to its 2" midrange dome, it has two 6.5" woofers with woven Kevlar cones. When the recording has considerable energy below 50Hz, and the Wharfedales reproduced the most difficult passages forcefully, with no sense of strain, distortion, or rolloff. An impressive pair of speakers that provide many of the attributes of pricier floorstanders in an attractive, small-footprint cabinet at an accessible price. "Steroephile"</p>
      </div>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<div class="col-sm-6 col-md-4 mid-end"> 
  <div class="alert alert-info" role="alert"><b>Mid entry combination</b></div>
 </div> 
<br class="clear" />


  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


<br class="clear" />
<br />
<br />
<div class="col-sm-6 col-md-4 high-end"> 
  <div class="alert alert-info" role="alert"><b>High end combination</b></div>
 </div> 
<br class="clear" />


  <div class="col-sm-6 col-md-4 amp">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4 dac">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4 speakers">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

<br class="clear" />
<br />
<br />

<%= yield %>

<div class="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-6 music">
        <%= link_to "Music is worth well listen!", "http://www.discogs.com/" %>
       </div> 
         <div class="col-xs-12 col-sm-6 footer-blurb">
          Hacked in Montreal By  <a href="https://github.com/sebtn">Seb</a><br />
          Proudly built as part of the awesome Firehose Project <a href="https://www.thefirehoseproject.com/"</a>
        </div>
    </div>  
</div> 



</body>
</html>
